// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Custom
$custom_white: #FBFEF9;
$custom_light_white: #ececec;
$custom_blue: #0C6291;
$custom_dark_blue: #074c6c;
$custom_light_blue: #1088c9;
$custom_gray: #6d6d6d;
